In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load the dataset
data = pd.read_csv("Bengaluru_House_Data.csv")
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
data.shape

(13320, 9)

In [4]:
data.describe

<bound method NDFrame.describe of                  area_type   availability                  location  \
0      Super built-up Area         19-Dec  Electronic City Phase II
1                Plot Area  Ready To Move          Chikka Tirupathi
2            Built-up Area  Ready To Move               Uttarahalli
3      Super built-up Area  Ready To Move        Lingadheeranahalli
4      Super built-up Area  Ready To Move                  Kothanur
...                    ...            ...                       ...
13315        Built-up Area  Ready To Move                Whitefield
13316  Super built-up Area  Ready To Move             Richards Town
13317        Built-up Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up Area         18-Jun           Padmanabhanagar
13319  Super built-up Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK      NaN       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK      NaN       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK      NaN       3600   5.0      NaN  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK      NaN        550   1.0      1.0   17.00

[13320 rows x 9 columns]>

In [5]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
#Data clean: handle null values
data = data.dropna()

In [7]:
data.area_type.unique()

array(['Super built-up Area', 'Plot Area', 'Built-up Area', 'Carpet Area'],
      dtype=object)

In [8]:
#drop availability because it's not required 
data = data.drop('availability',axis=1)

In [9]:
data.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi',
       'Lingadheeranahalli', 'Whitefield', '7th Phase JP Nagar',
       'Sarjapur', 'Mysore Road', 'Bisuvanahalli',
       'Raja Rajeshwari Nagar', 'Ramakrishnappa Layout', 'Binny Pete',
       'Thanisandra', ' Thanisandra', 'Electronic City',
       'Ramagondanahalli', 'Yelahanka', 'Hebbal', 'Kanakpura Road',
       'Kundalahalli', 'Sarjapur  Road', 'Ganga Nagar', 'Doddathoguru',
       'Adarsh Nagar', 'Bhoganhalli', 'Lakshminarayana Pura',
       'Begur Road', 'Varthur', 'Gunjur', 'Hegde Nagar', 'Haralur Road',
       'Hennur Road', 'Cholanayakanahalli', 'Kodanda Reddy Layout',
       'EPIP Zone', 'Dasanapura', 'Kasavanhalli', 'Sanjay nagar',
       'Kengeri', 'Yeshwanthpur', 'Chandapura', 'Kothanur',
       'Green View Layout', 'Shantiniketan Layout', 'Rajaji Nagar',
       'Devanahalli', 'Byatarayanapura', 'Akshaya Nagar',
       'LB Shastri Nagar', 'Hormavu', 'Peenya', 'Kudlu Gate',
       '8th Phase JP Nagar', 'Chandra Layout', 'Anandapura',
       'Kengeri Satellite Town', 'Basavanapura', 'Kannamangala',
       'Hulimavu', 'Hosa Road', 'Keshava Nagar', 'RMV Extension',
       'Tejaswini Nagar', 'Jai Bheema Nagar', 'Attibele',
       'CV Raman Nagar', 'Malleshwaram', 'Hebbal Kempapura',
       'Vijayanagar', 'KR Puram', 'Marathahalli', 'Pattandur Agrahara',
       'HSR Layout', 'Kadugodi', 'Kogilu', 'Panathur', 'Kammasandra',
       'Electronics City Phase 1', 'Tala Cauvery Layout', 'Dasarahalli',
       'Koramangala', 'Muthurayya Swamy Layout', 'Budigere',
       'Dodda Nekkundi Extension', 'Mylasandra', 'Kalyan nagar',
       'Ashwath Nagar', 'Ncpr Industrial Layout', 'Meenakunte',
       'OMBR Layout', 'Coffee Board Layout', 'Ambedkar Nagar',
       'Geleyara Balaga Layout', 'Kalena Agrahara', 'Talaghattapura',
       'Balagere', 'Jigani', 'Gollarapalya Hosahalli', 'Old Madras Road',
       'Silver Springs Layout', '9th Phase JP Nagar', 'Jakkur',
       'Maruthi Sevanagar', 'RMV 2nd Stage', 'Singasandra', 'AECS Layout',
       'Mallasandra', 'Begur', 'JP Nagar', 'Sunder Ram Shetty Nagar',
       'Motappa Layout', 'Kaval Byrasandra', 'Kaggalipura',
       'Basavanna Nagar', '6th Phase JP Nagar', 'Ulsoor', 'Uttarahalli',
       'Thigalarapalya', ' Devarachikkanahalli', 'Bommasandra',
       'Prashanth Nagar', 'Suragajakkanahalli', 'Ardendale', 'Harlur',
       'Sampigehalli', 'Kodihalli', 'Magadi Road', 'Narayanapura',
       'Hennur', '5th Phase JP Nagar', 'Kodigehaali', 'Bannerghatta Road',
       'Gopalapura', 'Billekahalli', 'Jalahalli', 'Sompura',
       'Ashirvad Colony', 'Dodda Nekkundi', 'Hosur Road', 'Amco Colony',
       'Ambalipura', 'Hoodi', 'Samethanahalli', 'Brookefield',
       'Suddaguntepalya', 'Udayapur Village', 'Bellandur', 'Vittasandra',
       'Giri Nagar', 'Chikkabidarakallu', '1 Giri Nagar', 'Hoysalanagar',
       'Defence Colony', 'Amruthahalli', 'Patelappa Layout',
       'Subramanyapura', '3rd Block Hrbr Layout', 'Surabhi Layout',
       'Omkar Nagar', 'Kambipura', 'VHBCS Layout', 'Rajiv Nagar',
       'Gattahalli', 'Arekere', 'Mico Layout', 'Munnekollal',
       'Banashankari Stage III', 'Dooravani Nagar', 'JCR Layout',
       'Nehru Nagar', 'Sneha Colony', 'Konanakunte', 'Ashwini layout',
       'Gottigere', 'HRBR Layout', 'Kanakapura', 'Tumkur Road',
       'Hosahalli', 'Jalahalli West', 'GM Palaya', 'Jalahalli East',
       'Hosakerehalli', 'Nagondanahalli', 'Shanthala Nagar',
       'Bettahalsoor', 'Ambedkar Colony', 'Avalahalli', 'Prakruthi Nagar',
       'Abbigere', 'Tindlu', 'Green Garden Layout', 'Gubbalala',
       'Dairy Circle', 'Narayana Nagar 1st Block', 'KSRTC Layout',
       'New Gurappana Palya', 'Palanahalli', 'Vadarpalya', 'Kudlu',
       'Old Airport Road', 'Vishwapriya Layout', 'Banashankari Stage VI',
       'Battarahalli', 'HMT Layout', 'Kaggadasapura', 'ITI Layout',
       'Yelahanka New Town', 'Sahakara Nagar', 'Rachenahalli',
       'Kodbisanhalli', 'Kodichikkanahalli', 'Bendiganahalli',
       'Ferrar Nagar', 'Green Glen Layout', 'M.G Road',
       'Horamavu Banaswadi', '1st Phase JP Nagar', 'Kaverappa Layout',
       'Devarabisanahalli', 'Somasundara Palya', 'Vidyaranyapura',
       'Babusapalaya', 'Nagappa Reddy Layout', 'TC Palaya',
       'Suraksha Nagar', 'Iblur Village', 'Yelachenahalli',
       'Basava Nagar', '2nd Block Hrbr Layout', 'Basapura',
       'Channasandra', 'Singena Agrahara', 'Mango Garden Layout',
       'Choodasandra', 'Indira Nagar', 'Sai Gardens', 'Mahadevpura',
       'Hanumanth Nagar', 'Basaveshwara Nagar', 'Kaikondrahalli',
       'Hunasamaranahalli', 'RWF West Colony', 'Bileshivale',
       'Neeladri Nagar', 'Frazer Town', 'Jaya Nagar East', 'Iggalur',
       'Banashankari', 'Chamrajpet', 'VGP Layout', 'Vasanth nagar',
       'Kalkere', 'Siddapura', 'Maragondanahalli', 'Ramamurthy Nagar',
       'Garudachar Palya', 'Roopena Agrahara', 'Gollahalli',
       'Sonnenahalli', 'D Souza Layout', 'Nagarbhavi', 'Bommanahalli',
       'Chikkalasandra', 'Dommasandra', 'Byadarahalli', 'Judicial Layout',
       'Outer Ring Road East', 'Vinayaka Nagar', 'GB Palya',
       'Ashwathnagar', 'Kasturi Nagar', 'Belathur', 'Srirampura',
       'Devanahalli Road', 'Ejipura', 'Green Woods Layout',
       'Craig Park Layout', 'Immadihalli', 'Muneshwara Nagar',
       'Rayasandra', 'Malleshpalya', 'Parappana Agrahara',
       'Lakshmi Layout', 'Thirumenahalli', 'KPC Layout',
       'Daadys Gaarden Layout', 'Kothannur', 'Marsur', 'Karuna Nagar',
       'Kallumantapa', 'Malimakanapura', 'Medahalli',
       'Rustam Bagh Layout', 'Garden Layout', 'T K Reddy Layout',
       'Doddanekundi', 'Venkatadri Layout', 'Bommenahalli',
       'Mahaganapathy Nagar', 'HBR Layout', 'Vittal Nagar',
       'Bhuvaneshwari Nagar', 'Prithvi Layout', 'Domlur', 'Thubarahalli',
       'Jaya Mahal layout', 'BSM Extension', 'Vijinapura', 'Byrasandra',
       'Chowdeshwari Layout', 'Sector 2 HSR Layout', 'Padmanabhanagar',
       'Badavala Nagar', '4th Block Koramangala', 'Belatur',
       'Nallurhalli', 'Kereguddadahalli', 'Laxmi Sagar Layout',
       'Bannerghatta', 'Harappanahalli', 'BTM Layout', 'Kanaka Nagar',
       'NR Colony', 'Byagadadhenahalli', 'Doddabommasandra',
       'Sarjapura - Attibele Road', 'Maruthi Layout',
       'Sree Narayana Nagar', 'Tunganagara', 'Nagavara',
       'Remco Bhel Layout', 'Chokkasandra', 'Panduranga Nagar',
       'Jakkur Plantation', '1st Block Koramangala',
       'Shree Ananth Nagar Layout', 'Hoskote', 'Sector 1 HSR Layout',
       'BTM 2nd Stage', 'Ananth Nagar', 'Sundar Ram Shetty Nagar',
       'Alfa Garden Layout', 'Hoodi Layout', 'Seegehalli',
       'Gaundanapalya', '2nd Phase JP Nagar', 'Doctors Layout',
       'Basavangudi', 'Vishwapriya Nagar', 'Sarakki Nagar', 'R.T. Nagar',
       'Sector 7 HSR Layout', 'Hennur Gardens',
       'Howthinarayanappa Garden', 'Bharathi Nagar', 'Cambridge Layout',
       'Doddakannelli', 'Cox Town', 'Pulkeshi Nagar', 'Jayanagar',
       ' Bhoganhalli', 'Pai Layout', '8th block Koramangala', 'Bidadi',
       'Amruthnagar', 'Sathya Sai Layout', 'Rajiv Gandhi Nagar', 'Anekal',
       'Bhagyalakshmi Avenue', 'Doddaballapur', 'Horamavu Agara',
       'Chinnapanahalli', 'Balaji Gardens Layout', ' Rachenahalli',
       'Akshaya Vana', 'Channasandra Layout', 'Gopalkrishna Nagar',
       'Volagerekallahalli', 'Keerthi Layout', 'Shikaripalya', 'Hagadur',
       'Soundarya Layout', 'Cunningham Road', 'Dollars Layout',
       'Nagavarapalya', 'Sultan Palaya', 'Gopal Reddy Layout',
       'Thurahalli', 'Murugeshpalya', 'Kadubeesanahalli',
       'Cleveland Town', 'Kada Agrahara', 'Bellari Road',
       'Abbaiah Reddy Layout', 'Tata Nagar', ' Devarabeesana Halli',
       'Brindavan Nagar', 'Seetharampalya', 'B Narayanapura',
       'Raghuvanahalli', 'Wilson Garden', 'Challaghatta', 'KR Garden',
       'Kathriguppe', 'Sahyadri Layout', 'Bagalur', 'P Krishnappa Layout',
       'Crimson Layout', 'Kyalasanahalli', 'Ckikkakammana Halli',
       'Munivenkatppa Layout', 'Vijaya Bank Layout', 'Kumarapalli',
       'Lingarajapuram', 'Vasantha Vallabha Nagar', 'Kalhalli',
       'Kumaraswami Layout', 'Hadosiddapura', 'Kachanayakanahalli',
       'Yelenahalli', '6th block Koramangala', 'Vignana Nagar',
       'Canara Bank Colony', 'Hanumagiri', 'Benson Town',
       'Akshayanagara West', 'OLd Gurappanapalya', 'Ramanjaneyanagar',
       'B Channasandra', 'New Thippasandra', 'Gattigere', 'Kamakshipalya',
       'Dollars Colony', 'Pragathi Nagar', 'HAL 2nd Stage',
       'Poorna Pragna Layout', 'Kenchenahalli', 'Kundalahalli Colony',
       'Amblipura', 'Vimanapura', 'Dodsworth Layout', 'Devasthanagalu',
       'Venugopal Reddy Layout', 'Lake City', 'S R Layout',
       'Sadduguntepalya', 'Mallathahalli', 'Doddakammanahalli',
       'Chikkathoguru', 'Richards Town', 'BCC Layout', 'Vinayak Nagar',
       'Jaladarsini Layout', 'Brooke Bond First Cross',
       'Glass Factory Layout', 'Raghavendra Nagar', 'Bhuvaneswari Nagar',
       ' Electronic City', 'Mathikere', 'Kempegowda Nagar',
       'Nyanappana Halli', 'Nelamangala', ' Whitefield',
       'Vaishnavi Layout', 'Naganathapura', 'Venkatapura',
       '3rd Phase JP Nagar', 'Devarachikkanahalli', 'Anjanapura',
       'Reliaable Tranquil Layout', 'Mailasandra', 'Chelekare',
       'Doopanahalli', 'Kattigenahalli', 'Varthur Road', 'Bethel Nagar',
       'Dollar Scheme Colony', 'Omarbagh Layout',
       'Aishwarya Crystal Layout', '2nd Block Jayanagar',
       'Nayandanahalli', 'DUO Layout', 'ISRO Layout', 'Hennur Bande',
       'Shampura', 'Langford Gardens', 'Richmond Town',
       'Vishwanatha Nagenahalli', 'Friends Colony', 'Shettigere',
       'Rahat Bagh', 'NTI Layout', 'Gunjur Palya', 'Maithri Layout',
       'Nobo Nagar', 'Krishna Reddy Layout', 'Kuvempu Layout',
       'Kaveri Nagar', 'Devi Nagar', 'Chikkabanavar',
       'Bommasandra Industrial Area', 'Stage-4 Bommanahalli',
       'Banashankari Stage V', 'Manorayana Palya', 'Sathya Layout',
       'Shanti Nagar', 'Jayamahal', 'Veer Sandra', 'Chennappa Layout',
       'Jeevan bima nagar', 'Lavakusha Nagar', 'Vittal Mallya Road',
       'Dena Bank Colony', 'Doddabidrakallu', 'NGR Layout',
       'Jnana Ganga Nagar', 'Ittamadu', 'Chokkanahalli', 'Vikram Nagar',
       'Sarvabhouma Nagar', 'Coconut Grove Layout', 'Kadabagere',
       'Anand Nagar', 'Kammanahalli', 'Janatha Colony',
       '1st Block Jayanagar', 'Veersandra', 'Kumbena Agrahara',
       'Hiremath Layout', 'Nagadevanahalli', 'Yemlur',
       'Ramamurthy Nagar Extension', 'Himagiri Meadows',
       'Narayanappa Garden', 'Kempapura', 'Carmelaram', 'Ankappa Layout',
       'Jakkuru Layout', 'Maruthi Nagar', 'Punappa Layout',
       'Pampa Extension', 'Banaswadi', 'Sanne Amanikere',
       '2nd Stage Arekere Mico Layout', 'BCMC Layout', 'Uday Nagar',
       'Chaitanya Ananya', 'Kacharakanahalli', 'Tigalarpalya',
       ' Banaswadi', 'Sugama Layout', 'Hongasandra', 'Anugrah Layout',
       'Bandepalya', 'AMS Layout', 'RPC layout', 'Gulimangala',
       'Addischetan Layout', 'Sadaramangala', 'Konena Agrahara',
       'Raghavendra Layout', 'Varsova Layout',
       'Raja Rajeshwari Nagar 5th Stage', '7th Block Jayanagar',
       'Bande Nallasandra', 'Upkar Layout', 'Singapura Village',
       'Canara Bank Layout', 'Queens Road', 'Hosapalya', 'Jagadish Nagar',
       'Rajasree Layout', 'Chikkadunnasandra', 'Thirumalashettyhally',
       'Vibuthipura', 'Kodigehalli', 'P&T Layout', 'Varanasi',
       'Virudhu Nagar', 'Ramanashree Enclave', 'Chikku Lakshmaiah Layout',
       'Shivaji Nagar', 'Chikkagubbi', 'Kammagondahalli',
       'Yeshwanthpur Industrial Suburb', 'Thirupalya', 'Tirumanahalli',
       'ITPL', 'NRI Layout', 'Adugodi', 'Sidedahalli', 'Shanthi Pura',
       'Anwar Layout', 'Doddanakundi Industrial Area 2', 'RBI Layout',
       'Shauhardha Layout', 'Bhoopsandra', '3rd Block Koramangala',
       'Kuvempu Nagar', 'Sri Balaji Krupa Layout', "St. John's Road",
       'Govindapura', 'Ayappa Nagar', 'Hessarghatta', 'Anantapuram',
       'Chikka Banaswadi', 'Akshayanagara East', 'Guddadahalli',
       'Kashi Nagar', 'Nanjappa Garden', 'Allalasandra',
       'Maheswari Nagar', 'Udayagiri', 'Mahalakshmi Layout',
       'Rahmath Nagar', 'Halanayakanahalli', 'Air View Colony',
       'Amam Enclave Layout', 'Anantapura', 'Mallappa Layout',
       'Devarabeesana Halli', 'Chikbasavanapura', 'Billamaranahalli',
       'Jogupalya', 'Gulakamale', 'Mahalakshmi Puram', 'Jakkasandra',
       'Cooke Town', 'Virupakshapura', 'Kenchenhalli', 'Church Street',
       'Sarvobhogam Nagar', 'Near International Airport', 'Palace Road',
       'Abshot Layout'], dtype=object)

In [10]:
len(data.location.unique())

634

In [11]:
location_count = data.groupby('location').size().sort_values(ascending=False)
location_count

location
Whitefield           397
Sarjapur  Road       310
Electronic City      236
Kanakpura Road       216
Thanisandra          212
                    ...
Jeevan bima nagar      1
Jnana Ganga Nagar      1
Jogupalya              1
KPC Layout             1
 Banaswadi             1
Length: 634, dtype: int64

In [12]:
len(location_count[location_count<=10])

491

In [13]:
location_less_10 = location_count[location_count<=10]

In [14]:
#if the location have less than 10 or 10 houses than that location are known as other location
data.location = data.location.apply(lambda x: 'other' if x in location_less_10 else x)

In [15]:
len(data.location.unique())

144

In [16]:
data['bhk'] = data['size'].apply(lambda x: int(x.split(' ')[0]))
data.bhk.unique()

array([ 2,  4,  3,  1,  5, 11,  9,  6,  7], dtype=int64)

In [17]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [18]:
data.total_sqft = data.total_sqft.apply(convert_sqft_to_num)
data = data[data.total_sqft.notnull()]
data.head()

,area_type,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,Coomee,1056.0,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,4
3,Super built-up Area,Lingadheeranahalli,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,3
5,Super built-up Area,Whitefield,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,2
11,Plot Area,Whitefield,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,4

In [19]:
#drop society column because it's not required
data = data.drop('society',axis=1)

In [20]:
data.head()

,area_type,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3
5,Super built-up Area,Whitefield,2 BHK,1170.0,2.0,1.0,38.00,2
11,Plot Area,Whitefield,4 Bedroom,2785.0,5.0,3.0,295.00,4

In [21]:
#create new column price_sqft that contain price per sqft
data['price_sqft'] = data.price*100000/data.total_sqft

In [22]:
#remove outlier using standard deviation
upper_limit = data.price_sqft.mean() + data.price_sqft.std()
lower_limit = data.price_sqft.mean() - data.price_sqft.std()
data = data[data.price_sqft<upper_limit] 
data = data[data.price_sqft > lower_limit]

In [23]:
#remove 2BHK house that price per sqft is less than the mean of 1bhk house price
def remove_bhk_outliers(data):
    exclude_indices = np.array([])
    for location, location_df in data.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_sqft),
                'std': np.std(bhk_df.price_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_sqft<(stats['mean'])].index.values)
    return data.drop(exclude_indices,axis='index')
data = remove_bhk_outliers(data)

In [24]:
data = data.drop('price_sqft',axis=1)

In [25]:
#apply one hot encoding in location column
dummies = pd.get_dummies(data.location)
location_cat = pd.get_dummies(data.location)
dummies.head()

,1st Phase JP Nagar,5th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,AECS Layout,Abbigere,Akshaya Nagar,Ambalipura,Ambedkar Nagar,...,Tumkur Road,Uttarahalli,Varthur,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur,other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
</head>

<body>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Real Estate Price Prediction ML App </h2>
                    <form action="{{ url_for('predict')}}" method="POST">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Enter a location name" name="location">
                        </div>

                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Enter a total sqft." name="sqft">
                        </div>

                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="area">
                                    <option disabled="disabled" selected="selected">Area type</option>
                                    <option value="Built-up Area">Built-up Area</option>
                                    <option value="Carpet Area">Carpet Area</option>
                                    <option value="Plot Area">Plot Area</option>
                                    <option value="Super built-up Area">Super built-up Area</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="size">
                                    <option disabled="disabled" selected="selected">Size</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="bath">
                                    <option disabled="disabled" selected="selected">Bath</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="balcony">
                                    <option disabled="disabled" selected="selected">Balcony</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                    {{Predict_score}}
                </div>
            </div>
        </div>
    </div>

In [26]:
data = pd.concat([data,dummies.drop('1st Phase JP Nagar',axis='columns')],axis='columns')
data.head()

,area_type,location,size,total_sqft,bath,balcony,price,bhk,5th Phase JP Nagar,7th Phase JP Nagar,...,Tumkur Road,Uttarahalli,Varthur,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur,other
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Plot Area,Whitefield,4 Bedroom,2785.0,5.0,3.0,295.00,4,0,0,...,0,0,0,0,0,1,0,0,0,0
12,Super built-up Area,7th Phase JP Nagar,2 BHK,1000.0,2.0,1.0,38.00,2,0,1,...,0,0,0,0,0,0,0,0,0,0

In [27]:
#apply one hot encoding in area column
dummies = pd.get_dummies(data.area_type)
dummies.head()

    Built-up Area  Carpet Area  Plot Area  Super built-up Area
0               0            0          0                    1
1               0            0          1                    0
3               0            0          0                    1
11              0            0          1                    0
12              0            0          0                    1

In [28]:
data = pd.concat([data,dummies],axis='columns')
data.head()

,area_type,location,size,total_sqft,bath,balcony,price,bhk,5th Phase JP Nagar,7th Phase JP Nagar,...,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur,other,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,Super built-up Area,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,0,0,...,0,0,0,0,0,0,0,0,1,0
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,0,0,...,0,0,0,0,0,0,0,0,0,1
11,Plot Area,Whitefield,4 Bedroom,2785.0,5.0,3.0,295.00,4,0,0,...,0,1,0,0,0,0,0,0,1,0
12,Super built-up Area,7th Phase JP Nagar,2 BHK,1000.0,2.0,1.0,38.00,2,0,1,...,0,0,0,0,0,0,0,0,0,1

In [29]:
data = data.drop(['location','size','area_type'] , axis=1)

In [30]:
data.head()

,total_sqft,bath,balcony,price,bhk,5th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,AECS Layout,...,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur,other,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,1056.0,2.0,1.0,39.07,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2600.0,5.0,3.0,120.00,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1521.0,3.0,1.0,95.00,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,2785.0,5.0,3.0,295.00,4,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
12,1000.0,2.0,1.0,38.00,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
#split data into dependent feature & independent feature
X = data.drop('price',axis=1)

In [32]:
y=data['price']

In [33]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.90264951, 0.89014555, 0.86736688, 0.89276874, 0.87845573])

In [34]:
np.average(regressor)

0.8862772833440082

In [35]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X,y,test_size=0.3)

In [36]:
model = LinearRegression()
model.fit(x_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
y_pred = model.predict(x_test)

In [38]:
from sklearn import metrics
print(metrics.mean_absolute_error(y_test,y_pred))
print(metrics.mean_squared_error(y_test,y_pred))
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

18.084377586936473
818.0534588407193
28.601633849147834

In [39]:
#save the model
import pickle
with open('model.pkl', 'wb') as fh:
   pickle.dump(model, fh)

In [40]:
cat = data.drop(['price'] , axis=1)
index_dict = dict(zip(cat.columns,range(cat.shape[1])))
with open('cat', 'wb') as fid:
    pickle.dump(index_dict, fid,2)

In [41]:
#save the column name
location_list = list(zip(location_cat.columns,range(cat.shape[1])))

In [42]:
with open('location_cat', 'wb') as fid:
    pickle.dump(location_list, fid,2)

In [43]:
def predict(location,area,size,bath,balcony,total_sqft):
    output = np.zeros(151)
    output[0] = total_sqft
    output[1] = bath
    output[2] = balcony
    output[3] = size
    
    result_location = location
    if result_location not in location_cat:
        output[146] = 1
    else:
        output[index_dict[str(location)]] = 1
    
    return model.predict([output])[0]

In [44]:
#(location , area_type , size , bath , balcony , total_sqft)
predict('Yelahanka','Carpet Area', 3, 3, 2 ,3000)

267.2057470938144

In [45]:
predict('Yeshwanthpur' , 'Carpet Area' , 3 , 3 , 2 ,3560)

350.43652391145173

In [46]:
predict('Yelahanka New Town' , 'Carpet Area' , 3 , 4 , 2 ,4000)

382.3749549092262

In [47]:
predict('Yeshwanthpur' , 'Carpet Area' , 3 , 3 , 3 ,2550)

237.86795998317092

In [48]:
predict('rajkot' , 'Carpet Area' , 3 , 3 , 3 ,2550)

231.37971364990213